<div id="recipeSubmitContainer" class="recipe-submit--form">
    <div class="page-header__buttons container">
        <div id="recipeSubmitClose" class="page-header__button text-right ingredients-form__close-btn"><i class="fas fa-times"></i></div>
    </div>
    <div class="ingredients-form__wrapper container">
        <h3>SUBMIT THE RECIPE?</h3>
        <div class="button-row d-flex mt-4">
            <button class="form__btn form__btn-success ml-auto" type="submit" title="Next">YES</button>
            <input type="hidden" name="action" value="recipe-submit">
        </div>
    </div>
</div>